@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply m-0 p-0 box-border;
}

body {
  width: 100vw;
  max-height: 100vh;
  
}

/* #root {
  height: 100%;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bgHomeMobile {
background-image: url("../assets/home/background-home-mobile.jpg");
background-repeat: no-repeat;
background-size: 100%


}



.bgHomeTablet {
  background-image: url("../assets/home/background-home-tablet.jpg");
  background-repeat: no-repeat;
 
}
